@import "tailwindcss";

:root {
  --offWhite: #fffcf8;
  --darkBlue: #000927;
  --lightGreen: #bdffd1;
  --lightPurple: #dadbff;
  --lightPink: #ffe0e0;
  background-color: var(--offWhite);
  font-family: "Bricolage Grotesque", sans-serif;
  scroll-behavior: smooth
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  /* this makes sure the padding and the border is included in the box sizing */
  box-sizing: border-box;
  overflow-y: hidden;
}

html body {
  padding: 0;
  margin: 0;
  overflow-y: inherit;
}

.App {
  height: 100vh;
  width: 100vw;
  max-width: 900px;
  padding: 1rem;
  background-color: lightpink;
}